@charset "iso-8859-1";
/* CSS Document */

img{
cursor:pointer;
}

#map_canvas{
	cursor:auto;
}

.hrImprimir {
    border: none;
    border-bottom: 1px solid #bbb;
}
/*   #########################  BODY  #####################       */
body{
	margin:0;
	font-family:verdana;
	font-size:10px;
}

.tituloNome{
	color:#FF0000;
	line-height:20px;
}

#div_espacoTbl {
    height: 35px;
}

/*   #########################  TOPOOO  #####################       */
#topoFaixa{
	width:100%;
	height:5px;
	background-color:#F95402;
}

#loading{
        position: fixed;
	width:100%;
	height:100%;
	background-image:url(../imagens/carregando__.gif);
	background-repeat:no-repeat;
        background-position: center;
	z-index:10;
	display:none;
        
}

#topoFaixa img{
    cursor: pointer;
}

#topo{
	width:100%;
	height:64px;
	background-image:url(../imagens/bg_topo.jpg);
}

#topoDireita{
	height:40px;
	float:right;
	margin-top:12px;
	margin-right:10px;
	padding-top:5px;
}

#topoDireitaIcones{
	height:40px;
	float:right;
	margin-top:12px;
	margin-right:10px;
}

#topoEsquerda{
	width:450px;
	height:55px;
	background-image:url(../imagens/logoTopo.png);
	background-repeat:no-repeat;
	margin-left:10px;
	margin-top:3px;
}

/*   #########################  MENU  #####################       */
/*FAIXA AZUL*/
#menu{
	width:100%;
	height:60px;
	background-image:url(../imagens/bg_menu.jpg);
	font-size:11px;
}
/*ESPACAMENTO DO TITULO E IMG*/
#menu img{
	margin-bottom:3px;
}

/*FAIXA LARANJA*/
#menuLinks{
	width:100%;
	height:24px;
	background-color:#EF682C;
}

#menuLinks a{
    cursor: auto;
}

/*ARRUMAR FAIXA AZUL*/
.menu ul.menubar{
  margin:0px;
  padding:0px;
}
 
.menu ul.menubar .submenu{
  padding-left:25px;
  padding-right:25px;
  list-style: none;
  float:left;
  height:60px;
  background-image:url(../imagens/tracoMenu.png);
  background-repeat:no-repeat;
  background-position:right;
}
.menu ul.menubar ul.menu{
  width: 100%;
  display: none;
  position:absolute;
  margin-top:2px;
  left:0px;
}
.menu ul.menubar a{
  padding: 5px;
  display:block;
  text-decoration: none;
  padding: 5px;
  color: #FFF;
  text-align:center;
}
.menu ul.menu, ul.menu ul{
  margin: 0;
  padding: 0;
  width: 300px; /* Width of Menu Items */
  background-color: #EF682C; /* IE6 Bug */
}
.menu ul.menu li{
  position:relative;
  list-style: none;
  border: 0px;
  float:left;
}
.menu ul.menu li a{	
  display: block;
  text-decoration: none;
  border-bottom: 0px;
  padding: 5px 15px 5px 15px;
  font-size:12px;
}

.menu ul.menubar li:hover{
	background-color:#EF682C;
}
  
/* Fix IE. Hide from IE Mac \*/
* html ul.menu li { float: left; height: 1%;  }
* html ul.menu li a { font-size:12px;  }
/* End */ 
.menu ul.menu li.submenu ul { display: none;} /* Hide sub-menus initially */

.certo ul.menu li.submenu ul { display: none;} /* Hide sub-menus initially */
 
.menu ul.menu li.submenu { background: transparent url(arrow.gif) right center no-repeat;}
 
.menu ul.menu li a:hover {
	background-color:#FF905F;
}

/* Wester */

.menu ul li a{
    cursor: default;
}
.menu ul li img{
    cursor: default;
}

.submenu ul li a{
    cursor: pointer;
}

/* Fim Wester */

#div_temFilhos, #div_recebeuAuxilio, #div_localReside, #div_deficienciaComplemento {
    margin: 2px 0px 6px 35px;
    border-left: #9B2038 solid 2px;
    padding-left: 5px;
}


/*###########   MENU VERTICAL   #######################*/
.menu ul.menu ul{
  position:absolute;
}

.menu ul.menubar ul.menu ul.menuVertical{
  left:auto;
}
.menu ul.menubar li.submenu ul.menu ul.menuVertical{
	display:none;
	z-index:2;
	width:auto;
}
.menu ul.menubar li.submenu ul.menu ul.menuVertical li a{
	clear:left;
	text-align:left;
}
.menu ul.menubar li.submenu ul.menu ul.menuVertical li a:hover{
	background-color:#FF905F;
	text-align:left;
}

/*   #########################  CORPO  #####################       */
#corpo{
	width:100%-20px;
	background-image:url(../imagens/bg_conteudo.gif);
	padding-left:20px;
	padding-right:20px;
	font-size:13px;
}


/*   #########################  CORPO  #####################       */
#abertura{
	width:100%;
	height:100%;
	background-image:url(../imagens/bg_conteudo.gif);
	font-size:13px;
}


/*   #########################  RODAPE  #####################       */
#rodape{
	background-image:url(../imagens/bg_rodape.jpg);
	width:100%;
	height:40px;
}

/*   #########################  CARREGANDO  #####################       */
#carregando{
	position:fixed;
	width:100%;
	height:150px;
	top:50%;
	margin-top:-75px;
	background-image:url(../imagens/carregando.gif);
	background-position:center;
	background-repeat:no-repeat;
	z-index:10;
	opacity: 0.4;
    color: #000000;
    background-color:#333;
	display:none;
}

/*   #########################  TEXTOS PARA O CONTE�DO  #####################       */
.titulo{
	font-size:18px;
	color:#9B2038;
	line-height:40px;
}

.tituloInicio{
	font-size:18px;
	color:#9B2038;
        line-height: 40px;
}

.tituloQuebra{
	font-size:18px;
	color:#9B2038;
	line-height:40px;
}

.tituloCorpo{
	color:#D86D1E;
	line-height:20px;
	font-weight:700;
}
/*formul�rios*/
.formulario{
	background-color:#EDF1F5;
	padding: 2px;
	border: solid 1px #000;
	font-size:11px;
	font-family:verdana;
	margin-top:5px;
	float:left;
	margin-right:5px;
}
.formulario:hover{
	background: #D2D2FF;
        cursor: pointer;
}

.inputQuestionario{
	background-color:#EDF1F5;
	padding: 2px;
	border: solid 1px #000;
	font-size:11px;
	font-family:verdana;
	margin-top:5px;
	float:left;
	margin-right:5px;
}
.inputQuestionario:hover{
	background: #D2D2FF;
}


.formularioOrdenar{
	background-color:#EDF1F5;
	padding: 1px;
	border: solid 1px #000;
	font-size:10px;
	font-family:verdana;
	margin-right:5px;
}
.formularioOrdenar:hover{
	background: #D2D2FF;
}
.formularioBaixo{
	background-color:#EDF1F5;
	padding: 2px;
	border: solid 1px #000;
	font-size:11px;
	font-family:verdana;
	margin-top:5px;
	float:left;
	margin-right:5px;
}
.formularioSemEspaco{
	background-color:#EDF1F5;
	padding: 2px;
	border: solid 1px #000;
	font-size:11px;
	font-family:verdana;
	margin-top:5px;
}
.icone_tooltip {
	vertical-align:top;
	border:0;
}
.textoObs{
	font-size:11px;
	border-bottom:1px dashed;
}

span.show-tooltip-text {
	display: none;
	position: absolute;
	font-size: 0.9em;
	background-image: url(../imagens/bgToolTip.png);
	background-repeat: repeat-x;
	padding: 6px;
	padding-left: 12px;
	padding-right: 12px;
	color: white;
}

.formularioSemEspaco:hover{
	background: #D2D2FF;
}

.label{
	float:left;
	width:180px;
	padding:2px;
	margin-top:5px;
}

.labelQuestionario{
	float:left;
	width:420px;
	padding:2px;
	margin-top:5px;
}

br{
clear: left;
}

#div_dica {
    margin: 4px -5px -5px -5px;
    color: crimson;
    font-family: 'Verdana';
}

.botao{
	font-size:11px;
	font-weight:700;
	border:none;
	background:url(../imagens/btn_up.png) no-repeat top left;
	padding:2px 8px;
	width:68px;
	height:22px;
	margin:10px 0px;
}

.botao:hover{
	font-size:11px;
	font-weight:700;
	border:none;
	background:url(../imagens/btn_down.png) no-repeat top left;
	padding:2px 8px;
	width:68px;
	height:22px;
        cursor: pointer;
}

.invisivel{
	color:red;
	background-color:transparent;
	border: 1px none;
}


/* Div apresentacao */
.apresentacao{
    width: 890px;
    margin-left: 4px;
    text-align: justify;
}

.apresentacao ul{
    list-style-type: none;
    padding-left: 10px;
}


/*   #########################  DIV ERROR  #####################       */
#erro{
	border:#FF3300 solid 1px;
	display:none;
}
/*   #########################  TABELA  #####################       */

.listaTable{
		border-collapse:collapse;
		background:#EFF4FB url(../imagens/table_teaser.gif) repeat-x;
		border-left:1px solid #686868;
		border-right:1px solid #686868;
		color: #333;
		font-size:11px;
		border-bottom:1px solid #686868;
}

.listaTable td, th {
		padding:5px;
		padding-left:20px;
		padding-right:20px;
		text-align:center;
}

.listaTable caption {
		padding: 0 0 .5em 0;
		text-align: left;
		font-size: 1.4em;
		font-weight: bold;
		text-transform: uppercase;
		color: #333;
		background: transparent;
}

/* =links

----------------------------------------------- */

.listaTable a{
		color:#950000;
		text-decoration:none;
}

.listaTable a:link {}

.listaTable a:visited {
		font-weight:normal;
		color:#666;
		text-decoration: line-through;
}

.listaTable a:hover {
		border-bottom: 1px dashed #bbb;
}

/* =head =foot
----------------------------------------------- */

.listaTable thead th, tfoot th, tfoot td {
		border: 1px solid #000;
		background:#555;
		color:#fff;
}

.listaTable tfoot td {
		text-align:right
}

/* =body
----------------------------------------------- */

.listaTable tbody th, tbody td {
	/*border-right:1px solid #DBDBDB;
	*/border-bottom: dotted 1px #333;
}	

.listaTable tbody th {
		white-space: nowrap;
}

.listaTable tbody th a {
		color:#333;
}

.odd {	}

.listaTable tbody tr:hover {
		background:#F3F1AB;
}

/*#################        CLIENTES CONTATO ESQUERDA E DIREITA         ####################*/
#contatos{
	width:100%;
	display:table;
	background:#003366;
	position:relative;
	background:url(../imagens/bg_conteudo.gif);
}

#contatoLado{
	width:300px;
	position:relative;
	min-height:300px;
	float:left;
	margin-right:10px;
	background:url(../imagens/bg_conteudo.gif);
}

/*#################       ETIQUETA ANIVERSARIANTES       #############################*/
#etiqueta{
	min-height:72px;
	width:189px;
	height:72px;
	float:left;
	margin-right:3px;
	margin-bottom:3px;
	border:#000000 solid thin;
	font-size:10px;
}

#imprimiEtiqueta{
	width:100%;
	height:100%;
}

#informacoesGeraisEsquerda{
	width:400px;
	float:left;
}

#informacoesGeraisDireita{
	width:600px;
	float:left;
}

#cidadeEsquerda{
	width:500px;
	float:left;
}

#cidadeDireita{
	width:300px;
	float:left;
}

.dataTables_wrapper {
	position: relative;
	min-height: 302px;
	clear: both;
	_height: 302px;
	zoom: 1; /* Feeling sorry for IE */
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables sorting
 */
.listaTable .sorting_asc{
	background: url(desc.gif) no-repeat center right;
	cursor:pointer;
}
.listaTable .sorting{
	background: url(bg.png) no-repeat center right;
	cursor:pointer;
}
.listaTable .sorting_desc {
	background: url(asc.gif) no-repeat center right;
	cursor:pointer;
}

.listaTable .sorting_asc, .listaTable .sorting_desc {
	background-color: #888;
}

.listaTable .sorting{
	background-color:#555;
}

.dataTables_length {
	margin-bottom:15px;
}

/* Pagination nested */
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
	margin-top:5px;
	margin-bottom:5px;
	height: 19px;
	width: 19px;
	margin-left: 3px;
	float: left;
}

.paginate_disabled_previous {
	background-image: url('../images/back_disabled.jpg');
}

.paginate_enabled_previous {
	background-image: url('../images/back_enabled.jpg');
}

.paginate_disabled_next {
	background-image: url('../images/forward_disabled.jpg');
}

.paginate_enabled_next {
	background-image: url('../images/forward_enabled.jpg');
}

.top .dataTables_info {
	float: none;
}
.dataTables_info {
	margin-top:5px;
	margin-bottom:5px;
	
	margin-right:50px;float: left;
}

.example_alt_pagination div.dataTables_info {
	width: 40%;
}

/*##### DIV PRIMEIRA P�GINA #####*/
.resumoUnico{
	
	width: 900px;
	border-colapse:	collapse;
	background-color: #F5F5F5;
	border:1px solid #3D566E;
	
}

.resumoDuplo{
	
	width: 444px;
	float:	left;
	border-colapse:	collapse;
	background-color: #F5F5F5;
	border:1px solid #3D566E;
}

.resumoDuploDireita{
	
	width: 444px;
	float:	left;
	margin-left:10px;
	border-colapse:	collapse;
	background-color: #F5F5F5;
	border:1px solid #3D566E;
	
}
.resumoCabecalho{
	background-color:#CCC;
	border:0;
	color:#3D566E;
	cursor:pointer;
	font-weight:600;
	vertical-align:middle;
	height:20px;
	margin-top:0;
}
.resumoCabecalho img{
	margin-left:2px;
	padding-top:2px;
	padding-right:4px;
}



/* MENSAGENS DE ERRO */

.msg_info, .msg_success, .msg_warning, .msg_error{
    border: 1px solid;
    margin: 0px;
    padding:10px 3px 8px 42px;
    background-repeat: no-repeat;
    background-position: 10px center;
}

.msg_info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../imagens/img/img_info.png');
}

.msg_success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('../imagens/img/img_success.png');
}

.msg_warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../imagens/img/img_warning.png');
}

.msg_error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../imagens/img/img_erro.png');
}

.espaco{
    height: 8px;
}


/*#################       IMPRIMIR          #############################*/
@media print{

    
    .tituloQuebra{
        page-break-before: always;
    }
    
    #topo {
        display: none;
    }
    #rodape{
        display: none;
    }
	#menu{
		display:none;
	}
	#rodape{
		display:none;
	}
	#topo{
		display:none;
	}
	#corpo{
		margin: 0px;
                padding: 0px;
	}
	#imprimiEtiqueta{
		display:block;
	}
        
        .listaTable {
           border: 0px;
        }
        
        tr{
            border-bottom: 0px;
        }
        
        td{
            border-bottom: 0px;
        }
}